In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,2), index=['b', 'c', 'f', 'g', 'i'],
                columns=['A1', 'A2'])
df['A3'] = 'TEXTO'
df

         A1        A2     A3
b -0.003822  1.090232  TEXTO
c  1.561667  0.031952  TEXTO
f  0.287491  0.507662  TEXTO
g -0.345367  0.944555  TEXTO
i -0.960200 -2.236145  TEXTO

In [3]:
df = df.reindex(['a','b','c','d','e','f','g','h','i'])

In [4]:
df

         A1        A2     A3
a       NaN       NaN    NaN
b -0.003822  1.090232  TEXTO
c  1.561667  0.031952  TEXTO
d       NaN       NaN    NaN
e       NaN       NaN    NaN
f  0.287491  0.507662  TEXTO
g -0.345367  0.944555  TEXTO
h       NaN       NaN    NaN
i -0.960200 -2.236145  TEXTO

# Análise

Verificando dados faltantes comparando a dimensão do dataset com a contagem de valores

In [5]:
df.isna().sum()

A1    4
A2    4
A3    4
dtype: int64

### 2.4.1. Fillna
Preenche células com dados faltantes

Inserindo um valor específico

In [6]:
df.fillna('?')

           A1         A2     A3
a           ?          ?      ?
b -0.00382177    1.09023  TEXTO
c     1.56167  0.0319519  TEXTO
d           ?          ?      ?
e           ?          ?      ?
f    0.287491   0.507662  TEXTO
g   -0.345367   0.944555  TEXTO
h           ?          ?      ?
i     -0.9602   -2.23614  TEXTO

In [7]:
df.fillna(0)

         A1        A2     A3
a  0.000000  0.000000      0
b -0.003822  1.090232  TEXTO
c  1.561667  0.031952  TEXTO
d  0.000000  0.000000      0
e  0.000000  0.000000      0
f  0.287491  0.507662  TEXTO
g -0.345367  0.944555  TEXTO
h  0.000000  0.000000      0
i -0.960200 -2.236145  TEXTO

In [8]:
#Inserindo de utilizando informações estatísticas
df.fillna(df.mean())

         A1        A2     A3
a  0.107954  0.067651    NaN
b -0.003822  1.090232  TEXTO
c  1.561667  0.031952  TEXTO
d  0.107954  0.067651    NaN
e  0.107954  0.067651    NaN
f  0.287491  0.507662  TEXTO
g -0.345367  0.944555  TEXTO
h  0.107954  0.067651    NaN
i -0.960200 -2.236145  TEXTO

In [9]:
df['A3'].fillna(df['A3'].mode()[0])

a    TEXTO
b    TEXTO
c    TEXTO
d    TEXTO
e    TEXTO
f    TEXTO
g    TEXTO
h    TEXTO
i    TEXTO
Name: A3, dtype: object

Utilizando propagação

In [10]:
#Para frente utilizando o método ffill ('pad' também funciona)
df['A1'].fillna(method='ffill')

a         NaN
b   -0.003822
c    1.561667
d    1.561667
e    1.561667
f    0.287491
g   -0.345367
h   -0.345367
i   -0.960200
Name: A1, dtype: float64

In [11]:
#Para trás utilizando o método bfill (ou 'backfill')
df['A1'].fillna(method='bfill')

a   -0.003822
b   -0.003822
c    1.561667
d    0.287491
e    0.287491
f    0.287491
g   -0.345367
h   -0.960200
i   -0.960200
Name: A1, dtype: float64

In [12]:
#Limitando o número de pontos
df['A1'].fillna(method='bfill', limit=1)

a   -0.003822
b   -0.003822
c    1.561667
d         NaN
e    0.287491
f    0.287491
g   -0.345367
h   -0.960200
i   -0.960200
Name: A1, dtype: float64

### 2.4.2. interpolate