**Exercício 1**: Crie um `DataFrame` com 20 linhas e 3 colunas, onde

- uma coluna "x" possui números reais aleatórios entre 1 e 10
- uma coluna "y" possui os inteiros entre 0 e 19, em ordem
- uma coluna "z" categórica com o valor "Maior" onde $x > 4$ e "Menor" onde $x \leq 4$

Dica: a função `np.vectorize` pode ajudar a transformar um vetor de números em um de texto.

**Exercício 2**: calcule quantas linhas tem o valor z Maior e y é par

**Exercício 3**: calcule a média dos valores de x onde z é Menor

Para os próximos exercícios, utilize o código abaixo para importar a base de dados Iris em um DataFrame (não é necessário fazer `import`s que você já fez).

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
dados = pd.DataFrame(iris.data, columns=['sepal length', 'sepal width', 'petal length', 'petal width'])

def classe(c):
  if c == 0:
    return 'Setosa'
  elif c == 1:
    return 'Versicolor'
  else:
    return 'Virginica'

dados['classe'] = pd.Categorical(np.vectorize(classe)(iris.target))
dados.head()

   sepal length  sepal width  petal length  petal width  classe
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

**Exercício 4**: Utilizando somente as variáveis "petal length" e "petal width", é possível com uma única reta separar perfeitamente uma das três classes? Responda gerando o gráfico de dispersão dessas variáveis, colocando os marcadores de cada classe com uma cor diferente.

Dica: lembre-se de usar o parâmetro `ax` para juntar os gráficos em uma única imagem.

**Exercício 5**: Chamamos de intervalo inter-quartil (_interquartile range_, IQR) a diferença entre o terceiro quartil (75%, $Q_3$) e o primeiro quartil (25%, $Q_1$): ${IQR} = Q_3 - Q_1$. Calcule o IQR das quatro variáveis da base Iris.

Dica: A função `describe` retorna um DataFrame onde ambos os índices são textuais.